@import url("./cabecalho.css");
@import url("./conteudo.css");
@import url("./rodape.css");
@import url("./break-point-630px.css");




@media(max-width:630px){
    .cabecalho{
      flex-direction: column;
    }
  
    .cabecalho nav {
      flex-wrap: nowrap;
      height: auto;
    }
  
    .cabecalho a {
      padding: 2.5vh 0;
      font-size: 2rem;
    }
}